
.vendor-item__delivery-time {
    padding: 2px 4px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    color: #fff;
    background-color: #919399;
    border-radius: 4px;
    white-space: nowrap;
}

.vendor-item__delivery-time.is-express {
    background-color: #ссс
}

.vendor-item {
    margin-bottom: 16px;
    border-radius: 8px;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,.04),0 -2px 8px 0 rgba(0,0,0,.04);
    font-size: 0
}

.vendor-item__images {
    display: block;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    position: relative;
    min-height: 164px
}

.vendor-item__cover {
    height: 164px;
    display: block;
    font-size: 0;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat
}

.vendor-item__headrow,.vendor-item__wrap {
    display: block;
    font-size: 0
}

.vendor-item__wrap {
    padding: 16px;
    position: relative
}


.vendor-item__delivery-info {
    margin-top: 2.5%;
    display: inline-block;
    vertical-align: top;
    width: 88px;
    text-align: right
}

.vendor-item__delivery-time {
    font-size: 12px;
    color: #fff;
    white-space: nowrap;
}

.vendor-item__row {
    display: flex;
    font-size: 0;
    margin-top: 12px
}

.rating__row {
    display: flex;
    align-items: center;
    line-height: 16px
}

.vendor-item__title {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 88px);
    padding-right: 4px;
    font-size: 22px;
    line-height: 28px;
    font-weight: 550;
    box-sizing: border-box
}
.roboto {
    font-family: Roboto;
    font-size: 90%;
    font-weight: 350;
}

ol,ul {
    list-style: none;
    padding: 0
}

.Div--ios {
    padding: 2px 12px 0px 12px
}
