.dateContainer {
  display: inline-flex;
}

.dateText {
  font-size: 19px;
  font-weight: 500;
}


.daydateTextLight {
  font-size: 20px;
  font-weight: 500;
  color: #9cf;
}
.daydateTextDark {
  font-size: 20px;
  font-weight: 500;
  color: #ccc;
}


.weekDaydateTextLight {
  font-size: 17px;
  font-weight: 500;
  color: #9cf;
}
.weekDaydateTextDark {
  font-size: 17px;
  font-weight: 500;
  color: #ccc;
}



.selectedDateText/*[scheme="client_light"]*/ {
  color: #fff;
}

.dayText {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.dayText/*[scheme="client_light"]*/ {
  color: #9cf;
}

.singleContainer {
  margin: 0px 3px;
  height: 25px;
  min-width: 55px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 12px;
  border-radius: 5px;
}

.scrollLight {
  background-color: #4680C2;
}
.scrollDark {
  background-color: #19191a;
}

.lesson_numb[scheme="space_gray"] {
  color: rgba(255, 255, 255, 0.502);
}
.lesson_numb{
  text-align: center;
  font-size: 20px;
}
