.dateContainer {
  display: inline-flex;
}

.dateText {
  font-size: 19px;
  font-weight: 500;
}


.daydateTextLight {
  font-size: 20px;
  font-weight: 600;
  color: #8b94a3;
}
.daydateTextDark {
  font-size: 20px;
  font-weight: 600;
  color: #909499;
}


.weekDaydateTextLight {
  font-size: 17px;
  font-weight: 600;
  color: #8b94a3;
}
.weekDaydateTextDark {
  font-size: 17px;
  font-weight: 600;
  color: #909499;
}



.selectedDateText {
  color: #3f8ae0;
}
.selectedDateTextDark {
  color: #fff;
}

.dayText {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.dayText/*[scheme="client_light"]*/ {
  color: #1f77db;
}

.singleContainer {
  font-family: 'San Francisco(SF UI)', serif;
  margin: 0px 3px;
  height: 25px;
  min-width: 12.7%; /*55px*/
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 12px;
  border-radius: 5px;
}

.scrollLight {
 /* background-color: #4680C2;*/
}
.scrollDark {
  background-color: #19191a;
}

.lesson_numb[scheme="space_gray"] {
  color: rgba(255, 255, 255, 0.502);
}
.lesson_numb{
  text-align: center;
  font-size: 20px;
}

.SFProDisplay {
font-family: 'SF Pro Display';
}

@font-face {
  font-family: 'San Francisco(SF UI)';
  src: local('San Francisco(SF UI) Text Semibold'), local('San-Francisco(SF-UI)-Text-Semibold'),
  url('../fonts/SFUIText-Semibold.woff2') format('woff2'),
  url('../fonts/SFUIText-Semibold.woff') format('woff'),
  url('../fonts/SFUIText-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SFProDisplay-Regular.eot');
  src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
  url('../fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
  url('../fonts/SFProDisplay-Regular.woff') format('woff'),
  url('../fonts/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
