
.test111 {
  border-radius: 5px;
  width: 90vw;
  height: 5vh;
  transition: All 0.2s ease;
}
.light:active { background: #ebebeb}
.dark:active { background: #363738}

.test2111 {
  margin-left: 5px;
  margin-top: 4%;
}

/* {
    user-select: none;
}*/

.Header__content {
  white-space: normal;
}
