.img-banner {
  height: 150px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.post_title *{
  font-size: 23px;
  font-weight: 300;
  line-height: 1.2;
  padding: 0px 10px 0px 0;
}
.post_title[scheme='space_gray'] {
  color: #fff;
}

.post {
  padding: 20px 20px;
}

.post_tags {
  display: flex;
}

.post_tag {
  font-size: 15px;
  line-height: 1.2;
  margin-right: 10px;
  border-radius: 5px;
  padding: 2px 4px;
  font-weight: 500px;
  border: 1px solid #ccc;
}
.post_tagDark {
  font-size: 15px;
  line-height: 1.2;
  margin-right: 10px;
  border-radius: 5px;
  padding: 2px 4px;
  font-weight: 500px;
  color: #ccc;
  border: 1px solid rgb(63,64,66);
  background-color: rgb(44,45,47);
}

.post_td {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.post_date {
  font-size: 3.7vw;
  /*font-size: calc(7px + 8px);*/
}

.post_bot {
  display: flex;
 /* margin-top: 5px;*/
  font-weight: 500;
  color: #9ca2ad;
}

.post_author {
  font-size: 3.5vw;
  padding-left: 4px;
}

.Panel__title {
  font-family: 'TT Commons';
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  padding: 4px 16px 10px;
  color: #222;
}

.Panel__subheader {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.Panel__subheader[scheme='client_dark'] {
  background-color: #fff;
}

.Cell__main {
  padding: 10px 8px 10px 0 !important;
}

.NewsFeedSearch {
  user-select: all;
}

.FaCircle {
  min-width: 8px;
  width: 8px;
  position: absolute;
  left: 4vw;
}

.type {
  margin-left: 10px;
  margin-top: 10px;
}

.event {
  margin-left: 5vw;
  margin-top: 5px;
  font-size: 10px;
  font-weight: 500;
}

.str {
  margin-bottom: 20px;
}

#mp {
  color: #e64646;
}

#other {
  color: #ccc;
}

.brdr {
  width: 1px;
  margin-left: 0.5vw;
  margin-top: 5px;
  margin-right: 10px;
  height: 8vh;
}

.Мероприятие {
  border-left: 2px solid #e64646;
}

.Общие {
  border-left: 2px solid #ccc;
}
