.vendor-item__title2 {

  vertical-align: top;
  width: calc(100% - 90px);
  font-size: 4.5vw;
  margin-top: 20px;
  line-height: 28px;
  font-weight: 500;
}
.vendor-item__cover2 {
  height: 140px;
  display: block;
  font-size: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 /* padding-top: 20px;*/
}

#clickable1 {
  transition: All 0.3s ease;
}

#clickable1:active { background: #ebebeb}

.vendor-item__delivery-info2 {
  margin-top: 2.5%;
  display: inline-block;
  width: 88px;
}

.vendor-item__delivery-time.is-express2 {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: #ссс
}
