
.name {
    font-size: 20px;
    font-weight: 500;
}
.cell * {
 line-height: 20px;
 font-size: 14px;
}
.grr {
    margin-top: -10px;
}

.headman {
    color: #1f77db;
    padding-left: 1px;
    font-weight: 400;
}

.wrap {
    padding: 10px;
    display: inline-flex;
    align-items: center;
}
.wrapper {
    padding-left: 20px;
}

