
.name {
    font-size: 20px;
    font-weight: 450;
    margin-top: 3.5vh;
    margin-left: 10vw;
}
.cell * {
 line-height: 20px;
 font-size: 14px;
}
.grr {
    margin-top: -10px;
}

.headman {
    color: #ccc;
    margin-top: 13vw;
    margin-left: -20vw;
}