body [scheme="space_gray"], .lessons {
  color: #fff;
  margin: 0px 0px;
}

.lesson {
  padding: 15px 12px;
  display: flex;
}
.nolesson {
  padding: 15px 10px;
  display: flex;
  background-color: rgb(237,238,240);
}

.lesson_time {
  font-family: Roboto;
  font-weight: 400;
  min-width: 45px;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  text-align: right;
}
.lesson_timeD {
  font-family: Roboto;
  font-weight: 400;
  min-width: 45px;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  text-align: right;
  color: #fff;
}

.lesson_content {
  /*padding-left: 10px;*/
  /*border-left: 1.5px solid #4286f4;*/
}

/*.lesson_content div {
  padding: 5px 0px;
}*/

.lesson_type {
  font-weight: 400;
  color: #4286f4;
}

body [scheme='bright_light'], .lesson_name  {
  font-weight: 500;
  color: #000;
}
.lesson_name {
  font-weight: 500;
  margin-top: 1px;
}

.lesson_aud {
  font-size: 1;
  font-weight: 400;
  margin-top: 5px;
  color: #000;
}
.lesson_audD {
  font-size: 1;
  font-weight: 400;
  margin-top: 5px;
  color: #fff;
}
.dark {
  transition: All 0.3s ease;
}
.test {
  transition: All 0.3s ease;
}
.test:active { background: #ebebeb}
.dark:active { background: #19191a}


#info  {
  max-width: 8em; /* блок занимает ширину родителя, max-width её ограничивает */
  min-height: 2em;
  margin-left: auto;
  margin-right: 1em;
  margin-top: 10px;
  color: #ccc;
}

.spinner {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
